service vendor.keymint-trusty /vendor/bin/hw/android.hardware.security.keymint-service.rust.trusty
    user nobody
    group drmrpc
    # The keymint service is not allowed to restart.
    # If it crashes, a device restart is required.
